html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.centered-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.question {
    display: none;
}

.question.active {
    display: block;
}

.form-wrapper {
    max-width: 600px;
    width: 100%;
}

.points {
    color: green;
    font-weight: bold;
    font-size: 0.9rem;
    margin-left: 8px;
}

#toast {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1055;
    display: none;
}

.title {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.small-text {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: x-small;
}
